schemas/1.5/streaming/nvg.data.1.4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://tide.act.nato.int/schemas/2008/10/nvg"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:dcterms="http://purl.org/dc/terms/"
targetNamespace="http://tide.act.nato.int/schemas/2008/10/nvg"
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.4.0-rev1">
	<xsd:annotation>
		<xsd:documentation>
		Schema for NVG Data Format v1.4
		
		See http://tide.act.nato.int/mediawiki/index.php/NATO_Vector_Graphics_%28NVG%29_Data_Format
		for NVG Data Format document on TIDEpedia
		</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://purl.org/dc/terms/" schemaLocation="metadata.xsd"/>
	<xsd:include schemaLocation="nvg.types.xsd"/>
	<xsd:simpleType name="distanceType">
		<xsd:annotation>
			<xsd:documentation>A positive number for all distances, expressed in meters</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:double"/>
	</xsd:simpleType>
	<xsd:simpleType name="speedType">
		<xsd:annotation>
			<xsd:documentation>the speed the object is moving with, expressed in knots.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:double"/>
	</xsd:simpleType>
	<xsd:simpleType name="directionAngleType">
		<xsd:annotation>
			<xsd:documentation>All angles are expressed in degrees with a range of [0.0 to 360.0]. Rotation from 0.0 to 360.0 is in the clockwise direction. When the angle indicates direction 0.0 indicates North. If a value is not specified a value of 0.0 is implied.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:double">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="360"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="rotationAngleType">
		<xsd:annotation>
			<xsd:documentation>Where an angle indicates rotation, the rotation is in the counter-clockwise direction. If a value is not specified a value of 0.0 is implied.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:double">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="360"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="directionType">
		<xsd:annotation>
			<xsd:documentation>Ranging from 0.0 to 360.0 with 0.0 being North and positive numbers progressing in a clockwise direction.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:double">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="360"/>
		</xsd:restriction>
	</xsd:simpleType>
	
		<xsd:simpleType name="SymbolCodeType">
		<xsd:annotation>
			<xsd:documentation>Any valid symbol code Type in the scheme "chars+number" : any valid characters</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z0-9]+:(.)+"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:attributeGroup name="nvgSymbologyAttributesGrp">
		<xsd:annotation>
			<xsd:documentation>Symbology oriented group of Attributes</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="symbol" type="SymbolCodeType" use="optional">
			<xsd:annotation>
				<xsd:documentation>The symbol attribute is used to associate symbology with a given shape. Its format is the name of a standard followed by a colon and the text representation of the element in that standard. That standard can be used to derive the graphical representation of the element.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="modifier" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>Modifiers to the specified symbology, possibly including rendering hints.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="nvgBaseAttributesGrp">
		<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
			<xsd:annotation>
				<xsd:documentation>uri schema that uniquely identify the object, see URI Scheme for more details.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="label" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>A textual representation of this element.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="style" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>CSS based style description which indicates how this element should be rendered graphically.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:anyAttribute namespace="##any" processContents="lax"/>
	</xsd:attributeGroup>
	<xsd:complexType name="NvgBaseType">
		<xsd:annotation>
			<xsd:documentation>Top level base element referencing all attributes</xsd:documentation>
		</xsd:annotation>
		<xsd:attributeGroup ref="nvgBaseAttributesGrp"/>
	</xsd:complexType>
	<xsd:complexType name="NvgDataObjectType">
		<xsd:annotation>
			<xsd:documentation>Top level nvg-object with symbology attributes</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NvgBaseType">
				<xsd:sequence>
					<xsd:group ref="DataGroup">
						<xsd:annotation>
							<xsd:documentation>XSD Group designed for storing
data related elements</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NvgMapObjectType">
		<xsd:annotation>
			<xsd:documentation>Top level object to be displayed on a map with symbol attributes</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NvgDataObjectType">
				<xsd:attributeGroup ref="nvgSymbologyAttributesGrp"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="textType">
		<xsd:annotation>
			<xsd:documentation>The 'text' element defines a graphics element consisting of text to be displayed at a specific location with a optional orientation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NvgBaseType">
				<xsd:sequence>
					<xsd:element name="content" type="xsd:string"/>
				</xsd:sequence>
				<xsd:attribute name="x" type="longitudeType" use="required"/>
				<xsd:attribute name="y" type="latitudeType" use="required"/>
				<xsd:attribute name="rotation" type="rotationAngleType" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="pointType">
		<xsd:annotation>
			<xsd:documentation>Single point object to be render using symbology if provided</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NvgMapObjectType">
				<xsd:attribute name="x" type="longitudeType" use="required">
					<xsd:annotation>
						<xsd:documentation>Longitude in decimal degrees using WGS-84 datum.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="y" type="latitudeType" use="required">
					<xsd:annotation>
						<xsd:documentation>Latitude in decimal degrees using WGS-84 datum.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="course" type="directionType" use="optional">
					<xsd:annotation>
						<xsd:documentation>The direction the object is moving in.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="speed" type="speedType" use="optional">
					<xsd:annotation>
						<xsd:documentation>The speed of the object is moving with, expressed in knots.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="multipointType">
		<xsd:annotation>
			<xsd:documentation>multipoint is used when Several of the MIL-STD-2525B symbols are represented by multiple points and cannot be mapped onto NVG point, line, area, etc</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NvgMapObjectType">
				<xsd:attribute name="points" type="ListOfLongLatType" use="required">
					<xsd:annotation>
						<xsd:documentation>Point list in decimal degrees, coordinate pairs, separated by spaces: lon1,lat1 lon2,lat2 ... lonn,latn </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="circleType">
		<xsd:annotation>
			<xsd:documentation>The 'circle' element defines a circle based on a center point and a radius.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NvgMapObjectType">
				<xsd:attribute name="cx" type="longitudeType" use="required">
					<xsd:annotation>
						<xsd:documentation>Longitude in decimal degrees using WGS-84 datum of center point of the circle.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="cy" type="latitudeType" use="required">
					<xsd:annotation>
						<xsd:documentation>Latitude in decimal degrees using WGS-84 datum of center point of the circle.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="r" type="distanceType" use="required">
					<xsd:annotation>
						<xsd:documentation>Radius of the circle (distance).</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ellipseType">
		<xsd:annotation>
			<xsd:documentation>The 'ellipse' element defines an ellipse which is axis-aligned with the current user coordinate system based on a center point and two radii.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NvgMapObjectType">
				<xsd:attribute name="cx" type="longitudeType" use="required">
					<xsd:annotation>
						<xsd:documentation>Longitude in decimal degrees using WGS-84 datum of center point of the ellipse.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="cy" type="latitudeType" use="required">
					<xsd:annotation>
						<xsd:documentation>Latitude in decimal degrees using WGS-84 datum of center point of the ellipse.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="rx" type="distanceType" use="required">
					<xsd:annotation>
						<xsd:documentation>Radius of the ellipse along the X axis (East/West) prior to the rotation.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="ry" type="distanceType" use="required">
					<xsd:annotation>
						<xsd:documentation>Radius of the ellipse along the Y axis (North/South) prior to the rotation.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="rotation" type="rotationAngleType" use="optional" default="0">
					<xsd:annotation>
						<xsd:documentation>Rotation of the ellipse</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="polylineType">
		<xsd:annotation>
			<xsd:documentation>The 'polyline' element defines a set of connected straight line segments. Typically, 'polyline' elements define open shapes.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NvgMapObjectType">
				<xsd:attribute name="points" type="ListOfLongLatType" use="required">
					<xsd:annotation>
						<xsd:documentation>Point list in decimal degrees, coordinate pairs, separated by spaces: lon1,lat1 lon2,lat2 ... lonn,latn </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="corridorType">
		<xsd:annotation>
			<xsd:documentation>Shape designed to represent any kind of corridor, ie. polyline with a width</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="polylineType">
				<xsd:attribute name="width" type="distanceType" use="required">
					<xsd:annotation>
						<xsd:documentation>Width of the corridor (distance)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="minaltitude" type="distanceType" use="optional"/>
				<xsd:attribute name="maxaltitude" type="distanceType" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
		<!-- Special case of polylineType, for a corridor the width is mandatory. -->
	</xsd:complexType>
	<xsd:complexType name="polygonType">
		<xsd:annotation>
			<xsd:documentation>The 'polygon' element defines a closed shape consisting of a set of connected straight line segments.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NvgMapObjectType">
				<xsd:attribute name="points" type="ListOfLongLatType" use="required">
					<xsd:annotation>
						<xsd:documentation>Point list in decimal degrees, coordinate pairs, separated by spaces: lon1,lat1 lon2,lat2 ... lonn,latn </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="arcType">
		<xsd:annotation>
			<xsd:documentation>The 'arc' element represents a segment of the outline of an ellipse. It is defined by the ellipse it is part of and the start and end angle of the arc on that ellipse.
Where start and stop angles indicate a range, the range proceeds from the start angle to the stop angle in a clockwise direction.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ellipseType">
				<xsd:attribute name="startangle" type="directionAngleType" use="required">
					<xsd:annotation>
						<xsd:documentation>The startangle of the arc on the ellipse</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="endangle" type="directionAngleType" use="required">
					<xsd:annotation>
						<xsd:documentation>The endangle of the arc on the ellipse</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="arcbandType">
		<xsd:annotation>
			<xsd:documentation>The 'arcband' element represents an area between two concentric circles and two radials of those circles.
The 'arcband' is defined by the two radii of the circles and the two angles of the radials.
An 'arcband' can be representation of a radar coverage where the radar covers only a certain range and certain angles.
Where start and stop angles indicate a range, the range proceeds from the start angle to the stop angle in a clockwise direction.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NvgMapObjectType">
				<xsd:attribute name="cx" type="longitudeType" use="required">
					<xsd:annotation>
						<xsd:documentation>Longitude in decimal degrees using WGS-84 datum of center point of the arcband.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="cy" type="latitudeType" use="required">
					<xsd:annotation>
						<xsd:documentation>Latitude in decimal degrees using WGS-84 datum of center point of the arcband.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="minr" type="distanceType" use="required">
					<xsd:annotation>
						<xsd:documentation>Minimum radius of the arcband (distance)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="maxr" type="distanceType" use="required">
					<xsd:annotation>
						<xsd:documentation>Maximum radius of the arcband (distance)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="startangle" type="directionAngleType" use="required">
					<xsd:annotation>
						<xsd:documentation>The startangle of the arcband (is a direction).</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="endangle" type="directionAngleType" use="required">
					<xsd:annotation>
						<xsd:documentation>The endangle of the arcband (is a direction)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="anchorType">
		<xsd:annotation>
			<xsd:documentation>An anchor element, similar to the anchor element in HTML.
It can contains a group or any displayble object</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice maxOccurs="unbounded">
				<xsd:group ref="NvgShapeOnlyGroup">
					<xsd:annotation>
						<xsd:documentation>This group is included as a convenience for schema authors who need to refer to all the elements in the NVG Objects.</xsd:documentation>
					</xsd:annotation>
				</xsd:group>
				<xsd:element name="composite" type="compositeType"/>
				<xsd:element name="g" type="groupType"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="href" type="xsd:anyURI" use="required">
			<xsd:annotation>
				<xsd:documentation>Callback URI for amplifying information on the
objects which are represented by
the children of this element.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="compositeType">
		<xsd:annotation>
			<xsd:documentation>The composite element is a container used to create
a single graphic from multiple drawing primitives.
The composite element can contain all drawing primitives
(i.e. point, polyline, etc.) but not the anchor (a) or group (g) elements.
The composite element cannot be nested.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NvgDataObjectType">
				<xsd:sequence>
					<xsd:choice maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>CANNOT PUT "2" as minOccurs, creates validation issues. (The composite element will contain two or more sub-elements.)</xsd:documentation>
						</xsd:annotation>
						<xsd:group ref="NvgShapeOnlyGroup">
							<xsd:annotation>
								<xsd:documentation>This group is included as a convenience
for schema authors who need to refer to
all the atomic elements in the NVG Objects.</xsd:documentation>
							</xsd:annotation>
						</xsd:group>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="NvgShapeOnlyGroup">
		<xsd:annotation>
			<xsd:documentation>This group is included as a convenience for 
schema authors who need to refer to all atomic
elements in the NVG Objects.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="text" type="textType"/>
				<xsd:element name="point" type="pointType"/>
				<xsd:element name="circle" type="circleType"/>
				<xsd:element name="ellipse" type="ellipseType"/>
				<xsd:element name="polyline" type="polylineType"/>
				<xsd:element name="corridor" type="corridorType"/>
				<xsd:element name="polygon" type="polygonType"/>
				<xsd:element name="arc" type="arcType"/>
				<xsd:element name="arcband" type="arcbandType"/>
				<xsd:element name="multipoint" type="multipointType"/>
				<xsd:element name="content-item" type="NvgDataObjectType"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DataGroup">
		<xsd:annotation>
			<xsd:documentation>XSD Group designed for storing
data related elements</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="metadata" type="dcterms:Metadata_Container" minOccurs="0"/>
			<xsd:element name="ExtendedData" type="ExtendedDataType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="groupType">
		<xsd:annotation>
			<xsd:documentation>A group is designed to hold
any NVG elements together.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NvgDataObjectType">
				<xsd:sequence>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="g" type="groupType"/>
						<xsd:element name="a" type="anchorType"/>
						<xsd:element name="composite" type="compositeType"/>
						<xsd:group ref="NvgShapeOnlyGroup">
							<xsd:annotation>
								<xsd:documentation>This group is included as a convenience for
schema authors who need to refer to all the
elements in the NVG Objects.</xsd:documentation>
							</xsd:annotation>
						</xsd:group>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="nvgType">
		<xsd:annotation>
			<xsd:documentation>NVG root type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="g" type="groupType"/>
				<xsd:element name="a" type="anchorType"/>
				<xsd:element name="composite" type="compositeType"/>
				<xsd:group ref="NvgShapeOnlyGroup"/>
			</xsd:choice>
			<xsd:group ref="DataGroup" minOccurs="0"/>
			<xsd:element name="Schema" type="SchemaType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="version" type="versionType" use="required">
			<xsd:annotation>
				<xsd:documentation>The version of the NVG format of the data in this section. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="classification" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>The classification of the data in this NVG section. It is recommended that this String contain at least one of the words unclassified, restricted, confidential or secret.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="id" type="xsd:QName">
			<xsd:annotation>
				<xsd:documentation>A (unique) identifier for this NVG data section.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:anyAttribute namespace="##any" processContents="lax"/>
	</xsd:complexType>
	<xsd:element name="nvg" type="nvgType">
		<xsd:annotation>
			<xsd:documentation>NVG document element</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
