schemas/1.5/streaming/nvg.streaming.sub.1.5.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tide.act.nato.int/schemas/2009/10/nvg/streaming" targetNamespace="http://tide.act.nato.int/schemas/2009/10/nvg/streaming">
	<wsdl:types>
		<xsd:schema targetNamespace="http://tide.act.nato.int/schemas/2009/10/nvg/streaming" elementFormDefault="qualified" version="1.5.0" xmlns:nvg15="http://tide.act.nato.int/schemas/2009/10/nvg" xmlns:nvg14="http://tide.act.nato.int/schemas/2008/10/nvg">
			<xsd:import namespace="http://tide.act.nato.int/schemas/2008/10/nvg" schemaLocation="nvg.filter.1.4.xsd"/>
			<xsd:import namespace="http://tide.act.nato.int/schemas/2009/10/nvg" schemaLocation="nvg.1.5.xsd"/>
			<xsd:element name="Subscribe">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="consumerWSDL" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>The Consumer WSDL location describing the service to be used as the call-back service </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="serviceName" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>The Consumer service name to be used as the call-back service </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="subscriptionID" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>An (optional) identifier proposed by the Subscriber in case the Publisher accepts client-provided subscription ID</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="nvg14:nvg_filter" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubscribeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="subscriptionID" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SendMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="nvg15:nvg" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Cancel">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="subscriptionID" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SubscribeRequest">
		<wsdl:part name="parameter" element="tns:Subscribe"/>
	</wsdl:message>
	<wsdl:message name="SubscribeResponse">
		<wsdl:part name="parameter" element="tns:SubscribeResponse"/>
	</wsdl:message>
	<wsdl:message name="SendMessageRequest">
		<wsdl:part name="parameter" element="tns:SendMessage"/>
	</wsdl:message>
	<wsdl:message name="CancelRequest">
		<wsdl:part name="parameter" element="tns:Cancel"/>
	</wsdl:message>
	<wsdl:portType name="SubscriptionProducerPortType">
		<wsdl:operation name="Subscribe">
			<wsdl:input message="tns:SubscribeRequest"/>
			<wsdl:output message="tns:SubscribeResponse"/>
		</wsdl:operation>
		<wsdl:operation name="Cancel">
			<wsdl:input message="tns:CancelRequest"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="SubscriptionConsumerPortType">
		<wsdl:operation name="SendMessage">
			<wsdl:input message="tns:SendMessageRequest"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
